.heading {
   position: relative; /* 의사 요소 기준 */
   font-size: 36px;
   text-align: center;
   line-height: 1;
}

.heading::before { /* 숫자를 의사 요소로 표현 */
   content: attr(data-number); /* 데이터 속성 로딩 */
   display: block;
   margin-bottom: 50px;
   color: #e5c046;
   font-size: 32px;
}

.heading::after { /* 선을 의사 요소로 표현 */
   content: '';
   position: absolute;
   top: 45px;
   left: 50%; /* 좌우 중앙 배치 */
   transform: translateX(-50%); /* 좌우 중앙 배치 */
   width: 1px;
   height: 20px;
   background-color: #e5c046;
}