.heading {
   position: absolute;
   padding: 0 2em 20px;
   font-size: 36px;
   background-image:
      repeating-linear-gradient( /* 반복 선형 그러데이션 */
         45deg, /* 45° 회전시켜 대각선으로 만듦 */
         #e5c046 0px, #e5c046 1px, /* 선의 색상과 폭 지정*/
         rgba(0 0 0 / 0) 0%, rgba(0 0 0 / 0) 50% /* 선 사이의 여백 지정 */
      ),
      repeating-linear-gradient( /* 반복 선형 그러데이션 */
         -45deg, /* -45° 회전시켜 대각선으로 만듦 */
         #e5c046 0px, #e5c046 1px, /* 선의 색상과 폭 지정 */
         rgba(0 0 0 / 0) 0%, rgba(0 0 0 / 0) 50% /* 선 사이의 여백 지정 */
      );
   background-size: 8px 8px; /* 선형 그러데이션을 지정한 background의 크기 */
   background-repeat: repeat-x; /* 배경 반복 지정 */
   background-position: center bottom;
}