.heading {
   padding-bottom: 29px;
   width: 100%;
   font-size: 36px;
   text-align: center;
   background-image: linear-gradient(
      90deg, /* 90° 회전 */
      #c7c7c7 0%, #c7c7c7 45%, /* 선의 회색 부분을 지정 */
      #e5c046 45%, #e5c046 55%, /* 선의 노란색 부분을 지정*/
      #c7c7c7 55%, #c7c7c7 100% /* 선의 회색 부분을 지정 */
   );
   background-size: 100% 5px; /* 선의 폭과 높이 지정 */
   background-repeat: no-repeat;
   background-position: center bottom; /* 배경을 가운데 아래 기준으로 지정 */
}