.heading {
   -webkit-text-stroke: 3px #555; /* 텍스트 테두리선 스타일 지정 */
   text-shadow: 4px 4px 0 #e5c046; /* 노란색 텍스트 부분의 스타일 지정 */
   color: rgba(0 0 0 / 0); /* 원래 텍스트 부분을 투명으로 지정*/
   font-size: 100px;
   font-weight: 700;
   font-style: italic;
   font-family: 'Montserrat', sans-serif;
}