.heading {
   position: absolute;
   font-size: 36px;
   display: flex; /* 가로 배열 */
   justify-content: center; /* 좌우 중앙 정렬 */
   align-items: center; /* 상하 중앙 정렬 */
}

.heading::before,
.heading::after {
   content: '';
   width: 30px; /* 열쇠 괄호 가로 폭 */
   height: 30px; /* 열쇠 괄호 세록 폭 */
}

.heading::before { /* 왼쪽 위 열쇠 괄호를 의사 요소로 표현*/
   margin: -80px 30px 0 0; /* 왼쪽 위 괄호 배치 */
   border-top: 15px solid #e5c046;
   border-left: 15px solid #c4990a;
}

.heading::after { /* 오른쪽 아래 열쇠 괄호를 의사 요소로 표현 */
   margin: 0 0 -80px 30px; /* 오른쪽 위 괄호 배치 */
   border-right: 15px solid #c4990a;
   border-bottom: 15px solid #e5c046;
}