.heading {
   position: absolute; /* 의사 요소 기준 */
   padding-bottom: 24px;
   width: 100%;
   font-size: 36px;
   border-bottom: 5px solid #c7c7c7;
}
.heading::after { /* 노란색 선을 의사 요소로 표현 */
   content: '';
   position: absolute;
   top: 100%; /* 위에서 100% 위치에 배치 */
   left: 0px;
   width: 70px;
   height: 5px;
   background-color: #e5c046;
}