.heading {
 position: relative; /* 의사 요소 기준 */
 padding: 1em;
 font-size: 36px;
 border-bottom: 2px solid #e5c046;
}

.heading span {
 position: relative; /* z-index의 효과를 나타내기 위해 필요 */
 z-index: 2; /* 한글 문구의 겹침 지정 */
}

.heading::before { /* 숫자를 의사 요소로 표현 */
 content: attr(data-number); /* 데이터 속성 로딩 */
 position: absolute;
 top: 0;
 left: 0;
 color: rgba(229 192 70 / .4); /* 반투명의 글자 색상 지정 */
 font-size: 68px;
 font-weight: 800;
 z-index: 1;
}

