.emphasis p {
   box-decoration-break: clone; /* 행별로 스타일을 지정할 수 있도록 한다 */
   -webkit-box-decoration-break: clone; /* Firefox 이외에도 적용 */
   display: inline;
   padding: 10px;
   font-size: 36px;
   font-weight: 700;
   line-height: 2.2;
   background-color: #e5c046;
}