p {
   margin: 0 auto;
   padding: 0 1.5em;
   font-size: 28px;
   line-height: 3; /* 텍스트와 괘선 사이의 여백 조정 */
   background-image: linear-gradient( /* 선형 그러데이션 */
      rgba(0 0 0 / 0) 0%, rgba(0 0 0 / 0) 98%, /* 투명 부분 */
      #ccc 100% /* 괘선을 표현 */
   );
   background-size: 100% 3em; /* 여백(투명 부분)에서 괘선까지의 크기 */
}