a {
   display: flex; /* 텍스트와 선을 가로로 배열 */
   justify-content: space-between; /* 텍스트와 선을 좌우 양쪽 정렬 */
   align-items: center; /* 텍스트와 선을 상하 중앙 배치 */
   position: relative; /* 원 배치 기준 */
   padding: 30px 39px 30px 0;
   width: 280px;
   color: #333;
   font-size: 28px;
   font-weight: 700;
   text-decoration: none;
}

a::before { /* 원을 의사 요소로 표현 */
   content: '';
   position: absolute;
   top: 50%; /* 상하 중앙 배치 */
   right: 0; /* 요소 오른쪽에서 0px 위치에 배치 */
   transform: translateY(-50%); /* 상하 중앙 배치 */
   width: 80px;
   height: 80px;
   border: 2px solid #90be70;
   border-radius: 50%;
}

a::after { /* 선을 의사 요소로 표현 */
   content: '';
   width: 80px;
   height: 2px;
   background-color: #2b550e;
   z-index: 1;
}