a {
   display: block;
   position: relative; /* 의사 요소 기준 */
   padding: 30px;
   width: 260px;
   color: #333;
   font-size: 28px;
   font-weight: 700;
   text-decoration: none;
   background-color: #90be70;
   border-radius: 20px;
}

a::after { /* 선을 의사 요소로 표현 */
   content: '';
   position: absolute;
   top: 50%; /* 상하 중앙 배치 */
   right: 0; /* 오른쪽에서 0xp 위치에 배치 */
   transform: translateY(-50%); /* 상하 중앙 배치 */
   width: 50px; /* 선의 가로 폭 */
   height: 2px; /* 선의 세로 폭 */
   background-color: #2b550e;
}