a {
   display: block;
   position: relative; /* 의사 요소 기준 */
   padding: 30px 10px;
   width: 260px;
   color: #333;
   font-size: 28px;
   font-weight: 700;
   text-align: center;
   text-decoration: none;
   background-color: #90be70;
   /* border-radius: 20px; */
}

a span {
   position: relative; /* z-index 적용을 위해 필요  */
   padding: 10px;
   background-color: #90be70;
   z-index: 1; /* 텍스트 겹칩 순서 */
}

a::before { /* 선을 의사 요소로 표현 */
   content: '';
   position: absolute;
   top: 50%; /* 상하 중앙 배치 */
   right: 0; /* 오른쪽에서 0px 위치에 배치 */
   transform: translateY(-50%); /* 상하 중앙 배치 */
   width: 90%; /* 선 폭을 전체 폭의 90％로 지정 */
   height: 2px;
   background-color: #2b550e;
}

a::after { /* 점을 의사 요소로 표현 */
   content: '';
   position: absolute;
   top: 50%; /* 상하 중앙 배치 */
   right: 90%; /* 선의 가로 폭에 맞춘 지점의 X축 위치 */
   transform: translateY(-50%); /* 상하 중앙 배치 */
   width: 10px;
   height: 10px;
   background-color: #2b550e;
   border-radius: 10px;
}