a {
   display: flex; /* 텍스트와 심플한 화살표를 가로로 배열 */
   justify-content: space-between; /* 텍스트와 심플한 화살표를 좌우로 배치 */
   align-items: center; /* 텍스트와 심플한 화살표를 상하 중앙에 정렬 및 배치 */
   position: relative; /* 화살표 가로 막대 기준 위치 */
   padding: 30px;
   width: 260px;
   color: #333;
   font-size: 28px;
   font-weight: 700;
   text-decoration: none;
   background-color: #90be70;
   border-radius: 50px;
}

a::before { /* 심플한 화살표를 의사 요소로 표현 */
   content: '';
   width: 12px;
   height: 12px;
   border-top: 2px solid #2b550e; /* 심플한 화살표의 한 변 */
   border-right: 2px solid #2b550e; /* 심플한 화살표의 한 변 */
   transform: rotate(45deg); /* 45° 회전시켜 심플한 화살표로 만듦 */
}

a::after { /* 화살표의 가로 막대를 의사 요소로 표현 */
   content: '';
   position: absolute;
   top: 50%; /* 상하 중앙 배치 */
   left: 30px; /* 요소의 왼쪽에서 30px 위치에 배치 */
   transform: translateY(-50%); /* 상하 중앙 배치 */
   width: 15px;
   height: 2px;
   background-color: #2b550e;
}