dl {
   display: flex; /* 가로 배열*/
   justify-content: space-between; /* 좌우 양 끝 정렬 */
}

dt {
   padding: 20px 30px;
   width: 230px;
   border-bottom: 2px solid #5b8f8f;
}

dd {
   padding: 20px 30px;
   width: calc(100% - 230px); 
   border-bottom: 2px solid #bbb;
   margin-inline-start: 0px;
}