.wrap {
   display: flex; /* 가로 배열 */
   justify-content: space-between; /* 좌우 양끝 정렬 */
}

.item {
   display: flex;
   flex-direction: column; /* Flex 아이템을 세로로 배열 */
   padding: 20px;
   width: 48%;
   background-color: #d6d6d6;
   border-radius: 10px;
}

p {
   flex-grow: 1; /* .item의 세로 폭에 맞춰 압축됨 */
   margin-bottom: 20px;
}

a {
   display: block;
   padding: 20px 0;
   color: #111;
   font-weight: 700;
   text-align: center;
   text-decoration: none;
   background-color: #7fb2a1;
   border-radius: 10px;
}