.wrap {
   display: flex; /* 가로 배열 */
   align-items: center; /* 상하 중앙 배치 */
   width: 600px;
}

.image {
   width: 50%;
}

.text {
   padding: 0 30px; /* 텍스트 좌우 여백 */
   width: 50%;
}

img {
   display: block;
   width: 100%;
   height: auto;
   border-radius: 10px;
}