ul {
   column-count: 3; /* 가로 3열로 배열*/
   padding: 20px;
   list-style: none;
}

li {
   break-inside: avoid; /* 박스 도중에 나뉘는 것을 방지 */
}

img {
   display: block;
   width: 100%;
   height: auto;
   border-radius: 30px;
}

p {
   font-size: 13px;
   text-align: center;
}