.wrap {
   scroll-snap-type: x mandatory;/* X축으로 스크롤하고, 스크롤 액션이 종료되면 스탭 포인트 위치에 맞춤 */
   margin: 0 auto;
   padding: 30px 0;
   max-width: 800px;
   white-space: nowrap; /* 행의 줄바꿈을 하지 않음 */
   overflow-x: scroll; /* X축 방향으로 스크롤함 */
}

.item {
   scroll-snap-align: center; /* 스냅 포인트를 중앙에 지정 */
   display: inline-block;
   margin: 0 20px;
   width: 40%;
   white-space: normal; /* .wrap의 white-space 지정 해제 */
   background-color: #f4f4f4;
   overflow: hidden;
}

img {
   display: block;
   width: 100%;
   height: auto;
}

p {
   margin: 0;
   padding: 20px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
}