ol {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   list-style: none;
}

li:not(:last-child) {
   margin-right: 30px;
}

li:not(:last-child):after { /* 가장 마지막 li 외에 지정 */
   content: '';
   display: inline-block;
   margin-left: 30px;
   width: 12px;
   height: 12px;
   background-color: #5b8f8f;
   border-radius: 50%;
}

a {
   color: black;
}