details {
   margin: 0 auto 10px;
   width: 600px;
}

summary {
   display: flex;
   align-items: center;
   padding: 20px; 
   font-size: 18px;
   background-color: #d6d6d6;
   cursor: pointer;
}

summary::-webkit-details-marker { /* Webkit 계열 브라우저의 삼각형 화살표 리셋 */
   display: none;
}

summary:hover,
details[open] summary {
   background-color: #bbb;
}

summary::before{
   content: 'Q';
   margin-left: 15px;
   margin-right: 15px;
   color: #5b8f8f;
   font-size: 42px;
   font-weight: 700;
}

summary::after {
   content: '+';
   margin-left: 15px;
   margin-right: 15px; 
   color: #5b8f8f;
   font-size: 38px;
   font-weight: 700;
   transition: transform .5s;
}

details[open] summary::after { /* 열린 뒤 플러스 아이콘 지정 */
   transform: rotate(45deg); /* 45° 회전 */
}

.answer {
   display: flex; 
   content: 'A';
   padding: 20px;
   line-height: 1.6;
}

.answer::before{ /* 플러스 아이콘을 의사 요소로 지정 */
   content: 'A';
   margin-left: 15px;
   margin-right: 15px;
   color: #5b8f8f;
   font-size: 42px;
   font-weight: 700;
   transition: transform .5s; /* 열릴 때의 애니메이션 지정 */
}

details[open] .answer {
   animation: fadein .5s ease; /* 전개 후의 액션 지정 */
}

@keyframes fadein { /* 불투명도를 0 → 1로 하여 페이드인 효과를 줌 */
   0% { opacity: 0; }
   100% { opacity: 1; }
}