/* radio 스타일 */
.radio__list {
   margin-bottom: 50px;
}

.radio__item {
   display: block;
   margin-bottom: 20px;
}

input[type="checkbox"],
input[type="radio"] { /* 체크 박스와 라디오 버튼 스타일 리셋 */
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.radio__label {
   display: flex; /* 라디오 버튼과 라벨 가로 배열 */
   align-items: center; /* 라디오 버튼과 라벨 상하 중앙 정렬 */
   padding: 10px 20px;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   background-color: #c9d8e2;
   border: 3px solid #96aab7;
   border-radius: 10px;
}

.radio__label::before { /* 오리지널 라디오 버튼 */
   content: '';
   display: inline-block;
   margin-right: 20px;
   width: 25px;
   height: 25px;
   background-color: #fff;
   border: 2px solid #96aab7;
   border-radius: 25px;
}

input.form__input:checked ~ .radio__label {/* checked 상태의 버튼 스타일 */
   color: #f4f4f4;
   background-color: #053e62;
}

input.form__input:focus ~ .radio__label { /* focus 상태의 버튼 스타일 */
   border: 3px solid #0277b4;
   box-shadow: 0 0 8px #0277b4;
}

input.form__input:checked ~ .radio__label::before { /* checked 상태의 라디오 버튼 스타일 */
   background-color: #0277b4;
   background-image: radial-gradient(#fff 29.5%, #0277b4 31.5%);
   border: 2px solid #053e62;
}

/* checkbox 스타일 */
.checkbox__list {
   display: flex; /* checkbox 아이템 가로 배열 */
   flex-wrap: wrap; /* 줄바꿈 지정 */
   gap: 20px; /* checkbox 아이템 사이의 여백 지정 */
}

.checkbox__item {
   display: inline-block;
}

.checkbox__label {
   display: flex; /* 체크 박스와 라벨 가로 배열 */
   align-items: center; /* 체크 박스와 라벨 상하 중앙 정렬 */
   position: relative; /* 의사 요소 ::after의 위치 기준 */
   padding: 10px 20px;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   background-color: #c9d8e2;
   border: 3px solid #96aab7;
   border-radius: 10px;
}

.checkbox__label::before { /* 오리지널 체크 박스 */
   content: '';
   display: inline-block;
   margin-right: 20px;
   width: 25px;
   height: 25px;
   background-color: #fff;
   border: 2px solid #96aab7;
   border-radius: 6px;
}

input.form__input:checked ~ .checkbox__label { /* checked 상태의 버튼 스타일 */
   color: #f4f4f4;
   background-color: #053e62;
}

input.form__input:focus ~ .checkbox__label { /* focus 상태의 버튼 스타일 */
   border: 3px solid #0277b4;
   box-shadow: 0 0 8px #0277b4;
}

input.form__input:checked ~ .checkbox__label::before { /* checked 상태의 체크 박스 스타일 */
   background-color: #0277b4;
   border: 2px solid #053e62;
}

input.form__input:checked ~ .checkbox__label::after { /* checked 상태의 체크 마크 스타일 */
   content: '';
   position: absolute;
   top: 50%;
   left: 26px;
   transform: translateY(-50%) rotate(-45deg);
   width: 14px;
   height: 4px;
   border-bottom: 3px solid #f4f4f4;
   border-left: 3px solid #f4f4f4;
}