.pic {
   position: absolute; /* 의사 요소 기준*/
}

.pic img {
   position: relative; /* z-index를 활성화하기 위해 필요 */
   z-index: 2; /* 대각선 위의 계층에 표시한다 */
}

.pic::before {
   content: '';
   position: absolute;
   bottom: -15px; /* 기준 아래로부터 15px만큼 이동 */
   right: -15px; /* 기존 오른쪽으로부터 15px만큼 이동 */
   width: 100%; /* 부모 요소의 폭 100% 크기 */
   height: 100%; /* 부모 요소의 높이 100% 크기 */
   background-image: repeating-linear-gradient(
      -45deg, /*45° 회전 */
      #d34e23 0px, #d34e23 1px, /* 색을 입힌 선 */
      rgba(0 0 0 / 0) 0%, rgba(0 0 0 / 0) 1% /* 여백(투명 부분)*/
      );
   z-index: 1; /* 대각선을 사진 아래 계층에 표시 */
}