.pic {
   position: absolute; /* 의사 요소 기준 */
}

.pic::before,

.pic::after {
   content: '';
   position: absolute;
   width: 0px; /* 의사 요소에는 박스 크기를 지정하지 않음 */
   height: 0px; /* 의사 요소에는 박스 크기를 지정하지 않음 */
}

.pic::before {
   top: -10px; /* 기준 위쪽부터 -10px 이동시킨다 */
   right: -10px; /* 기준 오른쪽부터 -10px 이동시킨다 */
   border-top: 30px solid #ea987e;
   border-right: 30px solid #ea987e;
   border-bottom: 30px solid rgba(0 0 0 / 0);
   border-left: 30px solid rgba(0 0 0 / 0);
}

.pic::after {
   bottom: -10px; /* 기준 아래쪽부터 -10px 이동시킨다 */
   left: -10px; /* 기준 왼쪽부터 -10px 이동시킨다 */
   border-top: 30px solid rgba(0 0 0 / 0);
   border-right: 30px solid rgba(0 0 0 / 0);
   border-bottom: 30px solid #ea987e;
   border-left: 30px solid #ea987e;
}