.pic {
   position: absolute; /* 의사 요소 기준 */
}

.pic::before,
.pic::after {
   content: '';
   position: absolute;
   transform: rotate(-35deg); /* 35° 회전 */
   width: 70px;
   height: 25px;
   background-color: #fff; /*� 배경색과 같은 색을 지정 */
}

.pic::before {
   top: -10px;
   left: -25px;
   border-bottom: 1px solid #aaa; /* 배경색에 맞춰 회색 선으로 끊어짐을 표현 */
}

.pic::after {
   bottom: -10px;
   right: -25px;
   border-top: 1px solid #aaa; /* 배경색에 맞춰 회색 선으로 끊어짐을 표현 */
}