html, body {
   height: 500px;
}

img {
   mix-blend-mode: multiply; /* 로고 이미지의 흰 배경색을 투과 */
}

.logo-background {
   height: 100%;
   display: flex;
   justify-content: center; /* 배경 이미지를 좌우 중앙 배치 */
   align-items: center;    /* 배경 이미지를 상하 중앙 배치 */
   background-image: url("../images/pic037.jpg"); /* 배경 사진 지정 */
   background-size: auto 100%;
   background-repeat: no-repeat;
   background-position: center center;
}

.logo {
   display: flex;
   justify-content: center; /* 로고 이미지를 좌우 중앙 배치 */
   align-items: center; /* 로고 이미지를 상하 중앙 배치 */
}